* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100svh;
  display: flex;
  flex-direction: column;
  background-color: rgba(131, 56, 236, 0.1);
}

.header {
  text-align: center;
  padding: 1rem
}

.main {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;

}

h1,
h2,
h3,
h4 {
  color: #003049;

}

.title_1 {
  font-size: 2rem;
}

.title_2 {
  font-size: 1.8rem;
}

.title_3 {
  font-size: 1.5rem;
}

.title_4 {
  font-size: 1.2rem;
}

.packages {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.packages__container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.package {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.2);
  background-color: white;
  width: 100%;
  padding: 2rem;
}

.package__description {
  font-size: 14px;
  color: #363f44;
  font-style: italic;
}

.package__button {
  background-color: #8338ec;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
  width: 100%;
  transition: all 0.25s;
}

.package__button:hover {
  background-color: #6a1bda;
  transition: all 0.25s;
}

@media (min-width: 500px) {
  .packages__container {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .packages_main .package {
    width: 330px;
    font-size: larger;
    padding: 1.5rem;
  }

  .packages_sub .package {
    width: 250px;
    padding: 1rem;
  }
}